.card__info {
  width: 27%;
  display: flex;
  flex-wrap: wrap;
}

.card__info div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__info h3 {
  width: 100%;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 17px;
}
.card__info div h2 {
  width: 100%;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 600;
}

.card__info div p {
  color: #009966;
  font-weight: 700;
  font-size: 17px;
}
