.cardInfo {
  width: 27%;
  display: flex;
  flex-wrap: wrap;
}

.cardInfo div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardInfo h3 {
  width: 100%;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 17px;
}
.cardInfo div h2 {
  width: 100%;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 600;
}

.cardInfo div p {
  color: #009966;
  font-weight: 700;
  font-size: 17px;
}
