.container {
  max-width: 940px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #2d2f33;
  border: 1px solid #45474a;
  border-radius: 28px;
  text-align: left;
}

.cards__container {
  width: 100%;
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  padding-bottom: 6px;
}

.card_sun {
  max-width: 270px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card_sun h3 {
  width: 100%;
}

.sun__info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.sun__info p {
  font-size: 12px;
  color: #6a6969;
}

.sun__info h2 {
  font-size: 17px;
  font-weight: medium;
}
