.searchContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 452px;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #2d2f33;
  border: 1px solid #45474A;
  border-radius: 28px;
}

.searchForm {
  width: 100%;
  margin-left: 55px;
  margin-right: 55px;
}

.searchInput {
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 100%;
  height: 54px;
  font-size: 16px;
  color: #7e7c7c;
  background-color: #c2d4d3;
  border: none;
  border-radius: 25px;
}

.searchInput:focus {
  outline: none;
}

.currentWeather {
  width: 75%;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 1px solid #c2d4d3;
}

.currentWeatherImg {
  width: 100%;
  height: auto;
}

.currentTemp {
  width: 100%;
  margin: 0px;
  font-weight: bold;
  font-size: 96px;
}

.currentCity {
  margin: 0px;
  font-size: 36px;
}

.currentDay {
  margin: 0px;
  font-size: 36px;
}

.currentWeatherTempInfo {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  text-align: left;
}

.currentWeatherTempInfo img {
  margin: 0px;
  width: auto;
  height: 24px;
}

.currentWeatherTempInfo p {
  margin: 0px;
  width: 90%;
  font-size: 17px;
}

.additionalInfo{
  padding: 15px;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  background-color: #252425;
  border: 1px solid #212021;
  border-radius: 12px;
}

.additionalInfoContainer{
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.additionalInfoContainer img {
  margin: 0px;
  width: 48px;
  height: 48px;
}

.additionalInfoContainer p {
  margin: 0px;
  font-size: 24px;
  font-weight: bold;
}

.additionalInfoContainer h2 {
  margin: 0px;
  font-size: 16px;
  font-weight: normal;
}