.сontainer {
  max-width: 940px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #2d2f33;
  border: 1px solid #45474a;
  border-radius: 28px;
  text-align: left;
}

.cards__сontainer {
  width: 100%;
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  padding-bottom: 6px;
}