.weatherInfoContainer {
  max-width: 940px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #2d2f33;
  border: 1px solid #45474a;
  border-radius: 28px;
  text-align: left;
}

.weekInfoContainer {
  width: 100%;
  margin: 0px;
}

.weekInfoContainer h2 {
  width: 100%;
}

.cardsContainer {
  width: 100%;
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.dayCard {
  justify-content: center;
  text-align: center;
}

.dayCard h3,
p {
  font-weight: 600;
  font-size: 24px;
}
